*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: auto;
}


/* ==========NAVBAR================== */
.navbar{
    background:#4690e4 ;
    width: 100vw;
    height: 4rem;
}

/*=========INICIO=====================*/
#inicio{
    background:#5799E3 ; 
    position: relative;
    width: 100vw;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_parallax{
    position: relative;
    width: 100vw;
    height: 120vh;
    overflow-y: auto;
    overflow-x: hidden;
    /* background: magenta; */
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}

/* section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, #fdfdfd,transparent);
    z-index: 100;
} */
.parallax-img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    filter: drop-shadow( 5px -5px 2px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow( 5px -5px 2px rgba(0, 0, 0, 0.3));
}


#text{
    position: relative;
    top: 100px;
    color: rgb(255, 255, 255);
    font-size: 10rem;  
}
/* 0000000000000  WAVES  000000000000000000000000000000000000000 */

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}

.waves {
  position:relative;
  width: 100%;
  height:100vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}


/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
}
/* 0000000000000000000000000000000000000000000000000000000000000000000000000000 */

/* 000000000000000000000000000000000000000000000000000000000000000000000000000000000 */
/*===============NUBE=========================*/
#nube{
    display: block;
}
.svg{
   filter: drop-shadow( 5px -5px 2px rgba(0, 0, 0, 0.3));
   -webkit-filter: drop-shadow( 5px -5px 2px rgba(0, 0, 0, 0.3));
}
.nube{
    background: linear-gradient(180deg, #FFFFFF 45.31%, #6DD9FB 78.12%);
    position: relative;
    height: auto;
    width: 100vw;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nube-svg{
    position: absolute;
    top: 0;
    left: 0;
}
.container-nube{
 position: relative;
 min-height: 180px ;
 width: 100vw;
}


.vector-nube{
    border-style: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; 
    z-index: 3;
    filter: drop-shadow( 5px -5px 2px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow( 5px -5px 2px rgba(0, 0, 0, 0.3));
}

.grid{
    /* background: rgb(35, 150, 20); */
    display: grid;
    grid-template-columns: 1rem 1fr 1fr 1fr 1rem;
    grid-template-rows: 2rem 4rem 2rem 5fr 1fr 2rem;
}
.container_cartel_cuentacuentos{
    grid-column: 3/4;
    grid-row: 2/3;
    margin:auto ;
}
.container_cartel_cuentacuentos img{
    width: 100%;
}

.agujero{
    grid-column: 2/3;
    grid-row: 4/6;
    position: relative;
    width: 400px;
    height: 600px;
    /* background-image: url('./img/agujero-papel2-bg.png'); */
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.detalles{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    position: absolute;
    margin: auto;
    top: 30%;
    left: 0;
    right: 0;
}


/* -------------------libro----------------- */
.container-libro{
    /* background: green; */
    grid-column: 4/5;
    grid-row: 4/6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 600px;
}
.libro{
    position: relative;
    height: 500px;
    animation: float 2.5s infinite alternate;
}
.card{
    position: absolute;   /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform:rotateY(0deg);     /* <<<<< ----animacion----- */
    transform-style: preserve-3d;
    transition: 0.5s cubic-bezier(0.4, 0.2, 0.2, 1) ;
    backface-visibility: hidden;  /* para ocultar la cara opuesta */ 
}
.front{
    width:100% ; 
    height: 100%; 
    transform:rotateY(0deg); 
}
.back{
   width:100%; 
   height: 100%; 
   transform:rotateY(180deg);  /*180 grados, osea esta dado la vuelta */
}

.libro:hover > .front{ /* cuando el raton se pone encima susede > que la cara frontal se da la vuelta */
    transform:rotateY(-180deg);
}
 
.libro:hover > .back{ /* cuando el raton se pone encima susede > que la cara back se da la vuelta */
    transform:rotateY(0deg);
}

.sombra {
    width:100%;
    height: 5%;
    background: linear-gradient(to bottom, rgba(54, 54, 54, 0.3),rgb(114, 114, 114));
    z-index: 1;
    filter: blur(0.5rem);
    border-radius: 50%;
    animation: reflection 2.5s infinite alternate;
}

 /* --------animaciones----------- */
@keyframes float {
    0% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(30px);
    }
}

@keyframes reflection {
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1); 
    }
}
/* -------------------------------- */

.btn{
    grid-column: 2/3;
    grid-row: 5/6;
    background-color:#FA513A ;
    text-align: center;
    margin: auto;
    padding: 1rem 2rem;
    color:white;
    letter-spacing: 2px;
    border-radius:10px;
    font-family: ;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}

/* ==============BOSQUE======================= */

.bosque{
    background:#6DD9FB ;
}
.container-bosque{
    position: relative;
    height: 350px;
}
.vector-bosque{
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%;
    filter: drop-shadow( 5px -5px 2px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow( 5px -5px 2px rgba(0, 0, 0, 0.3));
}
.container-proximamente{
    background: rgb(35, 150, 20);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.carrusel{
    /* background: red; */
    display: flex;
    display: flex;
    align-items: center;
    height:500px;
    width: 80%;
    overflow: auto;
    overflow-y: hidden;
}
.proximamente{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 400px;
    margin: 2rem;
}
.proximamente img{
    width: 300px;
    height: 300px;
    object-fit: fill;
}